@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
body {
  font-family: "Ubuntu Sans", sans-serif;
  background-color: rgba(240, 242, 245, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  background-color: white;
  padding: 64px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  height: 400px;
}

.introducir-iban {
  margin-top: 16px;
  margin-bottom: 16px;
}

#iban {
  margin-top: 8px;
}
