@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

body {
  font-family: "Ubuntu Sans", sans-serif;
  background-color: rgba(240, 242, 245, 255);
  display: flex;
  justify-content: center;
}

.textarea {
  display: flex;
  flex-direction: column;
}

#texto {
  margin-bottom: 8px;
}

#boton-extraer {
  border: 2px black solid;
  border-radius: 8px;
  padding: 8px;
  background-color: #845ec2;
  color: white;
  cursor: pointer;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 500;
}

#boton-extraer:hover {
  background-color: #d65db1;
}

.imagenes-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
